/* ----------------------------------------- *\
  CONTENTS

  - GLOBALS
  - HERO SECTION
  - NAV
  - SEARCH FIELD
  - SECTIONS & PANELS
  - ICONS
  - MEDIA QUERRIES
\* ----------------------------------------- */

@font-face {
  font-family: Moderat;
  src: url(./fonts/Moderat-Regular.ttf);
}

:root {
  --white-main: rgb(255, 255, 255);
  --camel-main: rgb(244, 241, 234);
  --camel-300: #d9d5d1;

  --grey-200: rgb(245,248,250);
  --grey-300: rgb(224, 224, 224);  
  --grey-camel: #726F6C;
  --grey-600: rgb(74, 74, 74);

  --turqoise-main: rgb(2, 44, 59);
  --darkblue-800: rgb(10, 15, 28);

  --box-shadow-big: rgba(0, 0, 0, 0.08) 0px 8px 16px;
  --box-shadow-small: 0px 2px 10px rgba(0, 0, 0, 0.1);
}




/* ----------------------------------------- *\
  GLOBALS
\* ----------------------------------------- */

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--grey-200);
}

h1, h2, h3, h4, h5, h6, p, a, div, section {
  transition-duration: 1s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Figtree";
  text-align: center;
  word-wrap: break-word;
  color: var(--darkblue-800);
}

h1 {
  font-size: 40px;
  margin: 68px 0 0 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-family: "Moderat";
  font-size: 17px;
  line-height: 34px;
  color: var(--darkblue-800);
}





/* ----------------------------------------- *\
  HERO SECTION
\* ----------------------------------------- */

#hero-section {
  height: 100vh;
  background-color: var(--camel-main);
}

#hero-image {
  display: block;
  height: 60vh;
  background-image: url(./img/background2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  transition: none;
}

#hero-image #zumper-button {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 15%;
}

#hero-section .text-panel {
  background-color: var(--camel-main);
  height: 40vh;
  margin: 0;
  max-width: initial;
}

#hero-section h3 {
  margin: 24px auto;
  color: var(--grey-camel);
}





/* ----------------------------------------- *\
  NAV
\* ----------------------------------------- */

.nav-content {
  display: block;
  top: 0;
  padding: 24px;
}

.nav-content-narrow {
  display: flex;
  justify-content: end;
}

.nav-content-wide {
  display: none;
}

.nav-content-wide nav {
  display: flex;
  justify-content: space-between;
}

.nav-content-wide div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.nav-content-wide div a {
  text-decoration: none;
  color: var(--darkblue-800);
}

.nav-content-wide div a:hover {
  color: var(--grey-camel);
  transition: none;
}

.open-menu {
  background: none;
  padding: 12px;
  height: 40px;
  width: 40px;
  border: 1px solid var(--camel-300);
  border-radius: 50%;
}

.open-menu-large {
  display: flex;
  background: none;
  padding: 12px;
}

button.open-menu-large {
  border: 1px solid var(--camel-300);
  border-radius: 24px;
  margin: 0;
}

button.open-menu-large:hover {
  background-color: var(--white-main);
}




/* ----------------------------------------- *\
  SEARCH FIELD
\* ----------------------------------------- */

.search-field {
  display: flex;
  align-items: center;
  justify-content: center;    
  background-color: var(--white-main);
  height: 56px;
  margin: 0px 24px;
  border-radius: 6px;
  box-shadow: var(--box-shadow); 
}

.search-field svg { padding: 0px 0px 0px 14px; }

.search-field input {
  border: none;
  margin: 0px 14px;
  width: 100%;
  height: auto;
}

input:focus {
  outline: none;
}

#main-search-area {
  position: absolute;
  width: 100%;
  top: 60vh;
  transform: translate(0, -50%)
}





/* ----------------------------------------- *\
  SECTIONS & PANELS
\* ----------------------------------------- */

.text-panel {
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  background-color: var(--grey-200);
}

.text-panel h2 {
  font-size: 28px;
  font-weight: 700;
  padding: 100px 0 20px 0;
  margin: 0 auto;
}

.text-panel p {
  font-size: 16px;
  text-align: center;
  padding-bottom: 45px;
}

.text-panel .flex-cards {
  gap: 30px
}

.text-panel .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 25px;
  border-radius: 2px;
  box-shadow: var(--box-shadow-small);
}

.text-panel p,
.text-panel h4 {
  margin: 0;
  line-height: 1.5;
}

.text-panel h4 {
  font-size: 20px;
  text-align: left;
}

.text-panel h4 span {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey-600);
}

.card {
  background-color: var(--white-main);
}

.text-panel .card div {
  display: flex;
}

.text-panel .card ul {

  list-style-type: none;
  margin: 15px 0 0 0;
  padding: 0 0 15px 0 ;
  color: var(--darkblue-800);
}

.text-panel .card li {
  padding: 0 0 15px 20px;
  line-height: 1.5;
}

.card a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--white-main);
  background-color: var(--turqoise-main);
  border-radius: 10px;
  padding: 20px;
  margin: auto 5px 0 5px;
  justify-self: flex-end;
}

.text-panel.video-panel h2 {
  font-size: 32px;
  font-weight: 600;
  padding: 72px 20px 60px;
  margin: 0 auto;
}

.video-panel { height: auto; }

.video-container {
  position: relative;
  padding-bottom: 110px;
}

iframe { 
  width: 100%;
  aspect-ratio: 16 / 9;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
}

.text-panel2 {
  display: block;
  background-color: var(--white-main);
  padding: 50px 20px;
  align-items: baseline;
  width: 100%;
}

.text-panel2 h1,
.text-panel2 h2,
.text-panel2 h3,
.text-panel2 p {
  text-align: left;
  margin: 0;
}

.text-panel2 h2 {
  padding: 12px 0 15px;
  font-weight: 700;
}

.text-panel2 p {
  padding: 0 0 18px;
}

.picture-box {
  background-image: url(./img/default-city-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 50px 20px 100px;
}

.picture-box p {
  margin: 0;
  font-size: 17px;
  color: var(--white-main);
  padding-bottom: 15px;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
}

.picture-box a {
  font-family: Moderat;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1px;
  background-color: var(--white-main);
  margin: 0 10px 10px 0;
  padding: 6px 10px;
  border-radius: 3px;
  text-decoration: none;
  opacity: 0.5;
}

.picture-box a:visited {
  color: inherit;
}

.flex-cards a:hover {
  opacity: 1;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  transition: none;
}

.introduction.text-panel2 {
  padding: 0;
  margin: 20px;
  width: auto;
  max-width: 1100px;
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgb(216, 216, 216);
}

.introduction .introduction-content {
  padding: 50px;
}

.introduction.text-panel2 .icon {
  padding-bottom: 10px;
}

.introduction.text-panel2 h2 {
  font-size: 28px;
}

.introduction.text-panel2 p {
  font-size: 16px;
  line-height: 1.5;
}

p.underline {
  border-bottom: solid ;
  border-color: var(--grey-300);
  margin-bottom: 20px;
}

#values-section {
  background-color: var(--turqoise-main);
  max-width: 1440px;
  margin-top: 40px;
  align-items: center;
  padding: 120px 20px;
}

#values-section * {
  color: var(--white-main);
  max-width: 500px;
  padding: 0 0 20px 0;
}

#values-section h2 span {
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 40px;
}

#values-section a {
  text-decoration: none;
  padding: 20px 80px;
  background-color: var(--white-main);
  border-radius: 5px;
  color: var(--darkblue-800);
  font-weight: 600;
}

#press-section {
  max-width: 1440px;
  padding: 40px;
  background-color: var(--white-main);
}

#press-section .flex-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

#press-section img {
  height: 30px;
}

#press-section h2 {
  font-size: 22px;
  padding: 0;
  margin-bottom: 40px;
}

#press-section a {
  margin-inline: auto;
  text-decoration: none;
  color: var(--darkblue-800);
  padding: 10px 40px;
  border: 1px solid var(--grey-300)
}

#search-section {
  background-color: rgb(235, 234, 230);
  max-width: 1440px;
  padding: 100px 20px;
}

#search-section h2 {
  padding: 0;
  margin-bottom: 40px;
}

#dropdown-section {
  background-color: var(--white-main);
  max-width: 1440px;
  margin-inline: auto;
  padding: 100px 40px;
}

#dropdown-section h2, #dropdown-section h3 {
  margin: 0;
  text-align: left;
}

#dropdown-section h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

#dropdown-section button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: none;
  border: none;
}

.footer {
  background-color: rgb(37, 50, 62);
  padding: 0 20px;
}

.footer * {
  color: var(--white-main);
  text-align: left;
}

#footer-main {
  justify-content: space-between;
  padding-block: 40px 0;
  max-width: 1100px;
}

.footer h3 {
  font-size: 14px;
  color: rgb(178, 186, 196);
  text-transform: uppercase;
  margin-block: 0 10px;
}

.footer img {
  display: block;
  max-height: 40px;
}

#trademark-container {
  margin-bottom: 40px;
  padding-right: 80px;
}

#trademark-container .flex-container {
  gap: 10px;
  margin-block: 20px 40px;
}

#linktree-container {
  margin-inline: 0;
}

#linktree-container div {
  padding-right: 15px;
  margin-bottom: 20px;
  max-width: 200px;
}

#linktree-container div div {
  margin-top: 20px;
}

#linktree-container a {
  display: block;
  font-family: Moderat;
  text-decoration: none;
  padding-block: 0 10px;
}

#footer-bottom {
  max-width: 1100px;
  justify-content: space-between;
}

#footer-bottom * {
  color: rgb(178, 186, 196);
  max-width: 800px;
}

.footer hr {
  border: 1px solid var(--grey-600);
}





/* ----------------------------------------- *\
  ICONS
\* ----------------------------------------- */

.icon {
  height: 48px;
  width: 48px;
}

.open-menu-large .icon {
  height: 24px;
  width: 24px;
}

#search-icon {
  fill:rgb(185, 189, 194)
}

#fire-icon {
  background-color: rgb(255, 234, 213);
  border-radius: 50%;
}

#fire-icon .st4 {
  fill: rgb(255, 234, 213);
}

#fire-icon .st7 {
  fill: #fc9a50;
}

#access-icon {
  fill: rgb(104, 164, 255)
}

#quality-icon {
  fill: rgb(42, 228, 145)
}

#alert-icon {
  fill: rgb(255, 77, 187);
}

#done-icon {
  min-width: 24px;
  min-height: 24px  ;
  width: 24px;
  height: 24px;
  fill: var(--grey-600);
}

#down-icon {
  width: 24px;
  height: 24px;
}


/* ----------------------------------------- *\
  MEDIA QUERRIES
\* ----------------------------------------- */

@media (min-width: 480px) {
  h1 { font-size: 50px; }
  #hero-section h3 { font-size: 24px;}
  .search-field {
    width: 432px;
    margin: auto;
  }
}

@media (min-width: 520px) {
  .picture-box a {
    font-size: 24px;
  }
}

@media (min-width: 550px) {
  .text-panel.video-panel h2 {
    max-width: 500px;
    font-size: 40px;
    font-weight: 700;
  }
  .introduction div.flex-container {
    flex-wrap: nowrap;
  }
  .introduction.text-panel2 .flex-container div {
    padding-left: 20px;
    padding-bottom: 20px;
  } 
}

@media (min-width: 770px) {
  .nav-content-narrow {
    display: none;
  }
  .nav-content-wide {
    display: block;
  }
  #hero-section {
    height: 120vh;
  }
  #hero-image {
    background-image: url(./img/background1.png);
    height: 120vh;
    background-position: center;
  }
  #hero-image #zumper-button {
    display: none;
  }
  #hero-section .text-panel {
    position: absolute;
    top: 10vh;
    width: 100%;
    background: none;
  }
  #main-search-area {
    bottom: 20vh;
  }
  #main-search-area-padding {
    margin-inline: auto;
    max-width: fit-content;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(249, 249, 246);
  }
  .search-field {
    border: 1px solid var(--camel-300);
  }
  .flex-container { flex-wrap: nowrap; }
  .text-panel { margin-inline: 40px; }
  .text-panel h2 { 
    max-width: 500px;
    font-size: 40px;
    font-weight: 700;
  }
  .text-panel p { font-size: 18px; }
  .text-panel .flex-cards {
    flex-wrap: nowrap;
  }
  .text-panel .card h4 {
    font-size: 22px;
    max-width: 320px;
  }
  .text-panel .card h4 span {
    font-size: 20px;
  }
  .text-panel2 {
    padding:  40px 40px 40px 40px;
    width: auto;
  }
  .text-panel2 h2 { font-size: 40px; }
  .text-panel2 p { font-size: 18px; }
  .picture-box p { font-size: 22px; }
  .introduction.text-panel2 { margin: 40px; }
  .introduction.text-panel2 h2 { font-size: 40px; }
  .introduction.text-panel2 h3 { font-size: 22px; }
  .introduction.text-panel2 p.underline { font-size: 18px; }
  #values-section h2 {
    font-size: 40px;
  }
  #values-section p {
    font-size: 20px;
  }
}

@media (min-width: 890px) {
  .text-panel2 { padding-left: 80px; }
  .text-panel .card h4 {
    font-size: 26px;
  }
  .text-panel .card h4 span {
    font-size: 22px;
  }
  .text-panel .card li {
    font-size: 18px;
  }
}

@media (min-width: 1100px) {
  .picture-box a {
    font-size: 34px;
    margin: 0 20px 20px 0;
    padding: 8px 14px;
    border-radius: 3px;
    text-decoration: none;
  }
  .text-panel2 {
    padding-top: 120px;
  }
  .introduction.text-panel2 div {
    background-image: url(./img/phone.png);
    background-position: 700px 0px;
    background-repeat: no-repeat;
    background-size: 400px;
    transition: none;
    
  }
  .introduction .flex-container,
  .introduction h2,
  .introduction p.underline {
    max-width: 650px;
    margin-inline: 0 auto;
  }
  .introduction-content div {
    max-width: 530px;
  }
  .text-panel .card {
    padding: 50px;
  }
}

@media (min-width: 1180px) {
  .introduction.text-panel2 {margin-inline: auto;}
  .text-panel {
    max-width: 1100px;
    margin-inline: auto;
  }
}
